.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  .modal {
    z-index: 100;
    background: white;
    position: relative;
    margin: 1.75rem auto;
    border-radius: 3px;
    max-width: 500px;
    padding: 2rem;
    .modal-header {
      display: flex;
      justify-content: flex-end;
      .modal-close-button {
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1;
        color: #000;
        opacity: .3;
        cursor: pointer;
        border: none;
      }
    }
  }
}

button {
  font-size: .9rem;
  border: none;
  border-radius: 3px;
  padding: .3rem 1rem;
  margin-left: .5rem;
  background: #247BA0;
  color: #fff;
}

.modal_styles{
  position: fixed;
  width:400px;
  height:auto;

  border-radius: 2px;
  top:50%;
  left: 50%;
  transform:translate(-50%,-50%);
  background: #f2f2f2;
  padding: 25px;
  zIndex:100;

  .mmm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    input{
      margin: 5px;
      padding: 4px 13px;
      border-radius: 12px;
      outline: none;
    }
    button{
      margin: 2px;
      width:180px;
      border-radius: 6px;
    }
  }

  .close_btn{
    position: absolute;
    right:5px;
    top:5px;
    cursor: pointer;
    color:#151b31;
    font-family: "Arial Narrow";
  }
}