
h3.errorMessage{
  color:#fff;
  font-weight: lighter;
}

.modal{
  position: fixed;
  max-width:500px;
  min-width: 400px;
  height:auto;
  border-radius: 2px;
  top:50%;
  left: 50%;
  transform:translate(-50%,-50%);
  background: #fff;
  padding: 2rem;
  z-index:100;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

    input{
      margin:15px 0;
      font-size: 17px;
      padding: 6px 4px;
      border:none;
      border-bottom:1px solid #151b31;
      width:100%;
      outline: none;
    }



    .mod-buttons{
        margin-top:30px ;
        display: block;
        font-size: 1.1rem;
        border: none;
        border-radius: 3px;
        padding: .5rem 1.2rem;
        margin-left: .5rem;
        background: #273349;
        color: #fff;
        cursor: pointer;
        transition: .2s ease;
         &:hover{
           background: #1c223b;
          }
    }

  .modal-close-button {
    position: absolute;
    right:15px;
    top:13px;
    font-size: 22px;
    font-weight:  bolder;
    line-height: 1;
    color: #151b31;
    opacity: .3;
    cursor: pointer;
    border: none;
    transition: .2s ease;
    &:hover{
      background: #f2f2f2;
    }
  }
}
// ------------------------inner modal

.inner_modal{
  width:100%;

  .image{
    position: relative;
    width:initial;
    height:140px;
    text-align: center;
    img{
      width:auto;
      height:140px;
    }
  }

}

.in-p{
  position: relative;
  margin-left: 4em;
  width:80%;
  display: flex;
  justify-content: center;
  align-items: center;
   label{
     position: absolute;
     left:-5em;
     font:bold 13px/17px 'Roboto Condensed',;
   }

  .error{
    position: absolute;
    right:3px;
    top:20px;
    color:red;
    font-size: 18px;
  }
}
