@import "./components/styles/header";
@import "./components/styles/api";
@import "./components/styles/modal";


@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;1,300;1,400&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background:#F2F4F4 ;
}

.main-app{
  position: relative;
  width:100%;
  height: auto;
  margin: 90px auto;
}

li{
  list-style: none;
}
a{
  text-decoration: none;
}